{% extends 'search_repo/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Total Commits</th>
            </tr>
        </thead>
        <tbody>
            {% for contrib in contributors %}
                <tr>
                    <td>{{ contrib.author.login }}</td>
                    <td>{{ contrib.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{% url 'search_repository' %}">Search another repository</a>
{% endblock %}